.Aside {
    width: 470px;
    height: calc(100vh - var(--header-height));
    background-color: var(--backgroundDark);
    display: flex;
    align-items: center;
    padding: 50px 45px;
    flex-direction: column;
}
