@import '../../../global';

.Chat {
    @include assideItem;
    height: 450px;

    h3 {
        margin: 25px 25px 0;
    }

    section {
        height: calc(100% - 120px);
        padding: 25px 25px 0;
        margin-bottom: 25px;
    }

    .input_section {
        padding: 0 25px 25px;
        display: flex;
        width: 100%;
        height: 55px;
        align-items: center;

        .Input {
            margin: 0;
            width: calc(100% - 80px);
            input {
                margin: 0;
            }
        }

        .Button {
            width: 65px;
            margin-left: 15px;
            height: 30px;
            border: none;
            font-weight: normal;
            font-size: 16px;
            border-radius: 10px;
        }
    }

    .message {
        max-width: 70%;
        margin-left: auto;
        label {
            top: -20px;
            left: 0;
            position: absolute;
            font-size: 14px;
            word-break: initial;
        }
        p {
            position: relative;
            margin-top: 20px;
            background-color: $primary;
            padding: 6px 10px;
            border-radius: 10px;
            width: fit-content;
            margin-left: auto;
            word-break: break-word;
        }

        &.opponent {
            margin-left: 0;
            p {
                background-color: $highlight;
                margin-left: 0;
            }
        }
    }
    // OPPONENT MESSAGES HAVE MORE MARGIN
    // MESSAGES FROM THE SAME PLAYER HAVE LESS MARGIN

    .you + .opponent, .opponent + .you {
        margin-top: 35px;
    }

    .you + .you, .opponent + .opponent {
        margin-top: 6px;
        p {
            margin-top: 0;
        }
    }


}
