@import '../../../global';

.Input {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    font-size: 14px;
    position: relative;
    input {
        margin-top: 4px;
        padding: 0 10px;
        height: 30px;
        outline: none;
        border: none;
        border-radius: 5px;
        background-color: $background;
        font-size: 16px;
        &:focus {
            border: 1px solid $primary;
        }
        &::placeholder {
            color: $highlight;
        }
    }
    &.invalid input {
        border: 1px solid $danger;
    }
    .invalid-message {
        position: absolute;
        bottom: -18px;
        color: $danger;
        font-size: 12px;
    }
}
