@import '../../../global';

.SideMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    background-color: $backgroundDark;
    color: $text;
    overflow: hidden;
    padding: 25px;
    position: relative;
    transition: transform 350ms ease-in;
    z-index: 2;
    @media (max-width: 1599px) {
        overflow-y: auto;
        position: fixed;
        height: 100%;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        &.active { transform: translateX(0); }
        .close {
            display: block !important;
            position: absolute;
            right: 10px;
            top: 10px;
            width: 48px;
            height: 48px;
            padding: 14px;
            cursor: pointer;
        }
        a.logo img { margin-top: 50px !important; }
    }

    .close { display: none; }

    a.logo {
        width: 100%;
        display: flex;
        justify-content: center;
        img {
            margin: 25px 0;
        }
    }

    section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: initial;
        transition: transform 250ms ease-in;

        h3 {
            font-size: 16px;
            font-weight: normal;
            color: $primary;
            margin: 25px;
            &.no-margin-bottom { margin-bottom: 0; }
        }

        b {
            margin: 8px 0 20px;
        }

        .Button + .HorizontalLine {
            margin-top: 25px;
        }

        .Button + .Button {
            margin-top: 20px;
        }

        &.hidden {
            transform: translateX(calc(-100% - 25px));
        }
    }

    p {
        margin-top: 5px;
        font-size: 14px;
        cursor: pointer;
    }

    .quote {
        margin-top: auto;
        color: $highlight;
        cursor: initial;
        padding: 50px 25px 0px;
    }
}
