@import '../../../global';

.HomePage{
    width: 100%;
    min-height: calc(100vh - var(--header-height));
    padding: 25px;
    gap: 50px 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;

    .hero-section{
        max-width: 455px;
        h1 {
            font-size: 48px;
            margin-bottom: 5px;
        }

        h2 {
            font-size: 22px;
            font-weight: normal;
            margin-bottom: 30px;
        }

        p {
            font-size: 18px;
            line-height: 27px;
            margin-bottom: 20px;

            b {
                color: $primary;
                cursor: pointer;
            }
        }

        .buttons {
            display: flex;
            gap: 16px;
            flex-wrap: wrap;
            .Button {
                padding: 0 20px;
                width: fit-content;
            }
        }
    }

    .Board {
        width: 100%;
        max-width: 455px;
        @media (min-width: 1279px) { max-width: 50%; }
    }
}
